html,
body {
  margin: 0;
  padding: 0;
  background: rgb(15, 78, 156);
  background: linear-gradient(
    90deg,
    rgba(15, 78, 156, 1) 30%,
    rgba(4, 125, 203, 1) 70%
  );
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: white;
  border: 1px solid rgb(196, 196, 196);
}
.header-logo {
  width: 150px;
}
.brand {
  width: auto;
  height: 100%;
  float: left;
  margin: 0 0 0 5%;
}
.menu {
  width: 75%;
  height: 100%;
  float: right;
}
.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden !important;
}
.menu ul a {
  width: 20%;
  height: inherit;
  color: #222;
  transition: 0.5s;
  display: inline-block;
  padding-top: 25px;
}
.menu ul li {
  transition: 0.5s;
  border-radius: 20px;
  padding: 15px;
}
.menu ul li:hover {
  background-color: rgb(71, 71, 71);
  letter-spacing: 2px;
  color: #fff;
}
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
  }
  .menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  .menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 10px 0px 10px 5%;
  }
  .menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
  }
  #menuToggle:checked ~ ul {
    max-height: 350px;
  }
  .menu-icon i {
    font-size: 1.7em;
  }
  .header-logo {
    width: 90px !important;
  }
  header {
    height: 80px;
  }
}

.sign-in-form-container {
  height: 90vh;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.primary-button {
  cursor: pointer;
  padding: 15px 40px 15px 40px;
  width: 200px;
  background: none;
  outline: none;
  box-shadow: none;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 15px;
  transition: 0.4s;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.primary-button:hover {
  background: white;
  color: black;
}
.active-form-tab {
  background: white;
  color: black;
}
.secondary-buttons {
  cursor: pointer;
  padding: 15px 40px 15px 40px;
  margin-top: 35px;
  font-weight: bold;
  background-color: rgb(27, 86, 158);
  color: white;
  outline: none;
  border: none;
  transition: 0.5s;
}
.secondary-buttons:hover {
  background: white;
  color: black;
}
.login-reg-form {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin: 10px 15px 10px 15px;
  border-radius: 40px;
}
.form-fields {
  width: 75%;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: 0.6s;
  outline: none !important;
}
.form-fields:focus {
  /* border: 2px solid rgb(89, 89, 216) !important; */
  width: 95%;
}
/* ~~~~~PROPERTIES~~~~~ */
.display-block {
  display: block !important;
}
.margin-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.text-align-center {
  text-align: center !important;
}
.width-80 {
  width: 80%;
}
.text-color-white {
  color: white;
}
.margin-y-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.border-top-right-rad-15 {
  border-top-right-radius: 15px;
}
.border-bottom-left-rad-15 {
  border-bottom-left-radius: 15px;
}
.text-decoration-underline {
  text-decoration: underline;
}
.display-none {
  display: none !important;
}
.font-family-roboto {
  font-family: "Roboto", sans-serif !important;
}
/* ~~~~~PROPERTIES~~~~~ */
